<h1 class="text-center m-3">Book Management Library</h1>
<div class="d-flex flex-column px-3">
  <label class="text-center">ISBN</label>
  <input class="text-center" type="text" placeholder="Enter NSBN">
</div>
<div class="d-flex flex-column p-3">
  <label class="text-center">Title</label>
  <input class="text-center" type="text" placeholder="Enter Book Title">
</div>
<div class="d-flex justify-content-center gap-2">
  <button class="btn btn-primary">Save</button>
  <button class="btn btn-warning">Clear</button>
</div>
<table class="table table-bordered m-3">
  <thead>
  <tr>
    <th class="text-center">ISBN</th>
    <th class="text-center">Title</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="text-center">001</td>
    <td class="text-center">Gamperaliya</td>
  </tr>
  </tbody>
</table>
